body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: midnightblue;
}



@media (min-width:835px){
  .left{
    width: 45%;
    float:left;
  }
  .right{
    width: 45%;
    float:right;
  }
  .card >img{
    height:250px;
    float:left;
    margin-right:50px;
    margin-bottom: 20px;
  }
}
@media (max-width:834px){
  .logo {
    width: 100px;
  }
  h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  .card{
    width: 100%;
  }
  .card >img{
    width: 100%;
    margin-right:50px;
    margin-bottom: 20px;
    object-fit: cover;
    display: inline;
  }
}

