body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.title > h1 {
  font-size: 5rem;
  display: inline-block;
  width:75%;
}

.title > img {

  display: inline-block;
}

footer {
  text-align: right;
  color: midnightblue;
}

h2{
  margin-top:0;
}


.logo {
  width: 100px;
}


@media (min-width:835px){
  .logo {
    width: 100px;
  }
  .left{
    width: 45%;
    float:left;
  }
  .right{
    width: 45%;
    float:right;
  }
  .card >img{
    height:250px;
    float:left;
    margin-right:50px;
    margin-bottom: 20px;
  }
}
@media (max-width:834px){
  .logo {
    width: 300px;
  }
  .title{
    text-align: center;
  }
  .title >h1 {
    font-size: 3.7rem;
    text-align: center;
  }
  .card{
    width: 100%;
  }
  .card >img{
    width: 100%;
    margin-right:50px;
    margin-bottom: 20px;
    object-fit: cover;
    display: inline;
  }
}

@media (min-width:835px) and (max-width:1057px){
  .logo {
    width: 220px;
  }

}
